<a href="https://colab.research.google.com/github/csoren66/Credit-Card-Fraud-Detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Libaray

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# Load the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
281286,170060.0,-0.509404,1.181851,-1.800768,-0.113294,3.177354,3.504397,0.358962,1.239321,-0.968299,...,0.150218,0.493886,-0.224504,0.718815,0.096226,-0.355386,0.335282,0.159996,1.22,0.0
281287,170060.0,-0.835977,0.429774,1.696358,0.683946,-0.123601,1.301418,-0.997546,1.044317,0.126324,...,0.256537,0.563854,-0.482650,-1.479479,0.560652,-0.204204,-0.062890,-0.157416,5.99,0.0
281288,170062.0,-0.240165,1.028458,-1.215988,-0.992812,1.772598,-1.015928,1.970858,-0.637089,-0.582004,...,0.207688,0.863489,-0.133773,0.747048,-0.624325,0.311852,-0.243242,0.016659,42.81,0.0
281289,170063.0,1.958546,-0.499236,-0.427997,0.335657,-0.785306,-0.752066,-0.477543,-0.050091,1.200873,...,-0.267763,-0.784962,0.412325,-0.151122,-0.676117,0.240289,-0.052199,-0.042357,36.94,0.0
281290,170064.0,-0.216431,0.322778,0.334621,-0.475082,0.135115,1.393930,-1.145234,-2.413774,-0.111276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281291 entries, 0 to 281290
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    281291 non-null  float64
 1   V1      281291 non-null  float64
 2   V2      281291 non-null  float64
 3   V3      281291 non-null  float64
 4   V4      281291 non-null  float64
 5   V5      281291 non-null  float64
 6   V6      281291 non-null  float64
 7   V7      281291 non-null  float64
 8   V8      281291 non-null  float64
 9   V9      281291 non-null  float64
 10  V10     281291 non-null  float64
 11  V11     281291 non-null  float64
 12  V12     281291 non-null  float64
 13  V13     281291 non-null  float64
 14  V14     281291 non-null  float64
 15  V15     281291 non-null  float64
 16  V16     281290 non-null  float64
 17  V17     281290 non-null  float64
 18  V18     281290 non-null  float64
 19  V19     281290 non-null  float64
 20  V20     281290 non-null  float64
 21  V21     281290 non-null  float64
 22  V22     281290 non-null  float64
 23  V23     281290 non-null  float64
 24  V24     281290 non-null  float64
 25  V25     281290 non-null  float64
 26  V26     281290 non-null  float64
 27  V27     281290 non-null  float64
 28  V28     281290 non-null  float64
 29  Amount  281290 non-null  float64
 30  Class   281290 non-null  float64
dtypes: float64(31)
memory usage: 66.5 MB

In [ ]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# Replace the missing value with '0' using 'fiilna' method
credit_card_data['Amount'] = credit_card_data['Amount'].fillna(0)
credit_card_data['Amount'].isnull().sum()

0

In [ ]:
# the distribution of legit transaction and fraudlent transactions
credit_card_data['Class'].value_counts()

0.0    280799
1.0       491
Name: Class, dtype: int64

This dataset is highly unbalanced

0-->Normal Transaction

1-->Fraudlent Transaction

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(280799, 31)
(491, 31)

In [ ]:
# statistical measures of the data
legit.Amount.describe()

count    280799.000000
mean         88.574655
std         250.150948
min           0.000000
25%           5.740000
50%          22.080000
75%          77.640000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     491.000000
mean      122.373605
std       256.919810
min         0.000000
25%         1.000000
50%         9.210000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,93880.034259,0.007784,-0.011055,0.022205,-0.006303,0.002084,0.004282,0.008380,-0.001444,0.004311,...,-0.000418,-0.001353,-0.001103,-0.000584,-0.000109,0.001665,-0.000044,-0.000339,-0.000132,88.574655
1.0,80564.319756,-4.785724,3.630836,-7.042344,4.550447,-3.159987,-1.400386,-5.580527,0.571937,-2.587557,...,0.373114,0.715376,0.014679,-0.040243,-0.104427,0.040895,0.052343,0.170916,0.075853,122.373605

Under-Sampling

Bulid a sample dataset containing similar distribution of transactions and Fraudulent transaction

Number of Fraudulent Transactions --> 491

In [ ]:
legit_sample = legit.sample(n=491)

Concatening the two DataFrames

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
247388,153559.0,-0.587142,-0.302957,2.104613,-2.226792,-0.911966,0.403040,-0.590256,0.317229,0.627544,...,0.091608,0.721475,-0.237318,-0.358275,-0.287457,-0.305981,0.359630,0.037412,3.20,0.0
162524,115199.0,1.890990,0.311243,-0.145768,4.059551,-0.060725,0.163288,-0.192649,0.030054,-0.202615,...,0.079919,0.512147,0.085872,0.045589,0.093258,0.133116,-0.004440,-0.047743,0.00,0.0
124437,77286.0,1.348844,-0.570822,0.412245,-0.636819,-0.996401,-0.630062,-0.574877,-0.057126,-0.855251,...,0.063464,0.149476,-0.044619,0.358594,0.501997,-0.271465,0.000083,0.003847,17.25,0.0
120207,75746.0,-0.602433,1.245406,1.154852,-0.042338,0.133085,-0.529534,0.615085,0.090020,-0.168496,...,-0.270011,-0.618502,0.026906,0.011564,-0.191641,0.107084,0.367150,0.154121,4.47,0.0
82936,59617.0,-0.743493,1.598166,0.363308,0.656848,0.036613,-0.957492,1.202239,-0.131557,-0.637652,...,-0.011485,-0.023237,-0.218584,0.288645,0.270693,-0.447256,-0.475078,-0.266834,71.45,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
276864,167338.0,-1.374424,2.793185,-4.346572,2.400731,-1.688433,0.111136,-0.922038,-2.149930,-2.027474,...,-0.870779,0.504849,0.137994,0.368275,0.103137,-0.414209,0.454982,0.096711,349.08,1.0
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1.0
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1.0
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1.0
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    491
1.0    491
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,92709.529532,-0.045149,0.048607,0.133943,0.080219,-0.015209,-0.062099,0.089219,0.008870,0.010263,...,-0.008002,-0.046960,-0.044719,-0.019207,0.008120,0.044543,-0.016431,0.006888,-0.004436,86.770672
1.0,80564.319756,-4.785724,3.630836,-7.042344,4.550447,-3.159987,-1.400386,-5.580527,0.571937,-2.587557,...,0.373114,0.715376,0.014679,-0.040243,-0.104427,0.040895,0.052343,0.170916,0.075853,122.373605

Splitting the data into Features & target

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
247388  153559.0 -0.587142 -0.302957  2.104613 -2.226792 -0.911966  0.403040
162524  115199.0  1.890990  0.311243 -0.145768  4.059551 -0.060725  0.163288
124437   77286.0  1.348844 -0.570822  0.412245 -0.636819 -0.996401 -0.630062
120207   75746.0 -0.602433  1.245406  1.154852 -0.042338  0.133085 -0.529534
82936    59617.0 -0.743493  1.598166  0.363308  0.656848  0.036613 -0.957492
...          ...       ...       ...       ...       ...       ...       ...
276864  167338.0 -1.374424  2.793185 -4.346572  2.400731 -1.688433  0.111136
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548

              V7        V8        V9  ...       V20       V21       V22  \
247388 -0.590256  0.317229  0.627544  ...  0.197872  0.091608  0.721475
162524 -0.192649  0.030054 -0.202615  ... -0.347095  0.079919  0.512147
124437 -0.574877 -0.057126 -0.855251  ...  0.068035  0.063464  0.149476
120207  0.615085  0.090020 -0.168496  ...  0.190336 -0.270011 -0.618502
82936   1.202239 -0.131557 -0.637652  ... -0.165291 -0.011485 -0.023237
...          ...       ...       ...  ...       ...       ...       ...
276864 -0.922038 -2.149930 -2.027474  ...  0.650196 -0.870779  0.504849
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209

             V23       V24       V25       V26       V27       V28  Amount
247388 -0.237318 -0.358275 -0.287457 -0.305981  0.359630  0.037412    3.20
162524  0.085872  0.045589  0.093258  0.133116 -0.004440 -0.047743    0.00
124437 -0.044619  0.358594  0.501997 -0.271465  0.000083  0.003847   17.25
120207  0.026906  0.011564 -0.191641  0.107084  0.367150  0.154121    4.47
82936  -0.218584  0.288645  0.270693 -0.447256 -0.475078 -0.266834   71.45
...          ...       ...       ...       ...       ...       ...     ...
276864  0.137994  0.368275  0.103137 -0.414209  0.454982  0.096711  349.08
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00

[982 rows x 30 columns]

In [ ]:
print(Y)

247388    0.0
162524    0.0
124437    0.0
120207    0.0
82936     0.0
         ...
276864    1.0
279863    1.0
280143    1.0
280149    1.0
281144    1.0
Name: Class, Length: 982, dtype: float64

Split the data into training data & Testing data

In [ ]:
from pandas.core.common import random_state
X_train,X_test,Y_train, Y_test = train_test_split(X, Y, train_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(982, 30) (196, 30) (786, 30)

Model Training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the logistic regression model with Training data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy score

In [ ]:
# accuracy on trainning fdat 
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9285714285714286

Accuracy on test data

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.9185750636132316